# Python Pandas Expand a Column of List of Lists to Two New Column
- https://stackoverflow.com/questions/56095142/python-pandas-expand-a-column-of-list-of-lists-to-two-new-column

Have:
name    id  apps
john    1   [[app1, v1], [app2, v2], [app3,v3]]
smith   2   [[app1, v1], [app4, v4]]
I want to expand the apps column such that it looks like this.

Want:
name    id  app_name    app_version
john    1   app1        v1
john    1   app2        v2
john    1   app3        v3
smith   2   app1        v1
smith   2   app4        v4

In [79]:
import pandas as pd
df = pd.DataFrame({
    'name': ['john', 'smith'],
    'id': [1, 2],
    'apps': [[['app1', 'v1'], ['app2', 'v2'], ['app3','v3']], 
             [['app1', 'v1'], ['app4', 'v4']]]
})

print("df.apps:\n", df.apps)

dftmp = df.apps.apply(pd.Series)
print("\n==> apply(pd.Series):\n", dftmp)

dftmp = dftmp.T.melt().dropna()
print("\n==> .T.melt().dropna():\n", dftmp)
print("\n==> .value:\n", dftmp.value)
print("\n==> .variable:\n", dftmp.variable)

dftmp = dftmp.apply(pd.Series)
print("\n==> dftmp.apply(pd.Series):\n", dftmp)

dfapp = (dftmp.value
              .apply(pd.Series)
              .set_index(dftmp.variable)
              .rename(columns={0:'app_name', 1:'app_version'})
        )
print("\n==> dfapp dataframe from dftmp.value:\n",dfapp)

df[['name', 'id']].merge(dfapp, left_index=True, right_index=True)

df.apps:
 0    [[app1, v1], [app2, v2], [app3, v3]]
1                [[app1, v1], [app4, v4]]
Name: apps, dtype: object

==> apply(pd.Series):
             0           1           2
0  [app1, v1]  [app2, v2]  [app3, v3]
1  [app1, v1]  [app4, v4]         NaN

==> .T.melt().dropna():
    variable       value
0         0  [app1, v1]
1         0  [app2, v2]
2         0  [app3, v3]
3         1  [app1, v1]
4         1  [app4, v4]

==> .value:
 0    [app1, v1]
1    [app2, v2]
2    [app3, v3]
3    [app1, v1]
4    [app4, v4]
Name: value, dtype: object

==> .variable:
 0    0
1    0
2    0
3    1
4    1
Name: variable, dtype: int64

==> dftmp.apply(pd.Series):
    variable       value
0         0  [app1, v1]
1         0  [app2, v2]
2         0  [app3, v3]
3         1  [app1, v1]
4         1  [app4, v4]

==> dfapp dataframe from dftmp.value:
          app_name app_version
variable
0            app1          v1
0            app2          v2
0            app3          v3
1            app1          v1
1            app4          v4

    name  id app_name app_version
0   john   1     app1          v1
0   john   1     app2          v2
0   john   1     app3          v3
1  smith   2     app1          v1
1  smith   2     app4          v4